#columnContainer {
    column-width: 16em;
    -webkit-column-width: 16em;
    -moz-column-width: 16em;
}

.atomic {
    column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.formblock {
    margin: 1em 0;
}

