#columnContainer {
    column-width: 16em;
    -webkit-column-width: 16em;
    -moz-column-width: 16em;
}

#statusText {
    background-color: #f5f5f5;
}

td {
    padding: 2px 2px;
}

.atomic {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    page-break-inside: avoid;
}

.formblock {
    margin: 1em 0;
}

/* input[type=text]:not(old) { */
.button {
    background-color: #f8f8f8;
    border: 2px solid #cccccc;
}

